@import "compass";

* { box-sizing: border-box }

@mixin selection($color:#ff5e99){
  ::-moz-selection {
    @include pretty-selection($color); }

  ::selection {
    @include pretty-selection($color); }
}

@mixin pretty-selection($color) {
  background: #ff5e99;
  color: white;
  text-shadow: none; }