@media only screen and (max-width: 940px){
  header{
    background-image: none;
    margin: 0;
    h1{
      height: inherit;}
    h2{
      margin-top: 10px;
      margin-right: 0;
      text-align: center;}}
  #ch-ch-ch-ch-ch{
    display: none;}
  #container {
    border: none;
    border-radius: 0;
    margin: 0 auto;
    max-width: 900px;
    width: 97%;}
}

@media only screen and (max-width: 550px){
  header {
    h1{
    font-size: 30px;
    margin-bottom: 5px;}
    h2{
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;}}
  #main{
    margin: 0;}
  #social{
    margin: 0 auto;
    .links{
      width: 49%;}}
}

@media only screen and (max-width: 321px){
  header{
    width: 100%;
    h1, h2{
      width: 320px;}}
  #social{
    margin: 0 auto;
    .links{
      width: 100%;}}
  #main{
    width: 100%;}
}